<!-- <div class="content-wrapper">

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">

                        <div class="site-page-header-ghost-wrapper">
                            <nz-page-header nzBackIcon [nzGhost]="false">
                                <nz-page-header-title>
                                    Gửi phản hồi
                                </nz-page-header-title>
                                <nz-page-header-content>

                                    <input nz-input placeholder="Tiêu đề phản hồi" [(ngModel)]="value" />
                                    <br />
                                    <br>
                                    <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
                                    <br>
                                    <button nz-button nzType="default" nzBlock>Gửi </button>
                                </nz-page-header-content>
                            </nz-page-header>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->